@import "variables.css";

/*style*/
html {
    scroll-behavior: smooth;
    scroll-padding-top:var(--height-header) ;
}

body {
    background: #FFE073;
    font-size: 18px;
}

.container {
    background: #FFC973;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    margin-top: 30px;
    padding-left: 40px;
    height:100vh;
}

/*header style*/
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
    background: #FF9C00;
}
.logo-img{
    height: calc(var(--height-header) - 10px);
    margin-left: 40px;
}
.nav {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #A63C00;
}

.nav-link:hover {
    color: #ffff;
    transition: 0.25s;
}
