@import "variables.css";

/*style*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--height-header) + 10px);
}

body {
    background: #FFE073;
    font-size: 18px;
}

.container {
    background: #FFC973;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    margin-top: 30px;
    padding: 0 40px;
    min-height: 50vh;
}

/*////////////////header style////////////////*/
.header {
    background: #FF9C00;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
}

.logo-img {
    height: calc(var(--height-header) - 10px);
    margin-left: 40px;
}

.nav {
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #A63C00;
}

.nav-link:hover {
    color: #ffff;
    transition: 0.25s;
}

.nav-link:active {
    color: #A65E00;
}

 /*////////////////main style////////////////*/
.main {
    display: grid;
    grid-template-columns:20% 80%;
}

.left-side {
    background-color: red;
}
.code-example code{
    font-size: 16px;
}


/*////////////////footer style////////////////*/
.footer{
    background: #FF9C00;
    /*position: fixed;*/
    bottom: 0;
    height: var(--height-header);
    width: 100%;
}
.logo-rs-school {
    width: 50px;
}